.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.number, .arrow {
  border: none;
  background-color: white;
  cursor: pointer;
}

.number:disabled, .arrow:disabled {
  cursor: default;
}

.number {
  padding: 8px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}